*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:
    #141A1A;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
}
:root{
    --color-azul:#bf5a08;
}
.colorAzul{
    color: var(--color-azul);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vh;
    margin-bottom: 7vh;
    padding-left: 4vw;
}

.logo{
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.pizzaImgContainer {
    display: flex;
}
.pizzaImgContainer img{
    width: 45%;
}
.pizzaImgContainer img:hover{
    filter: drop-shadow(0 0 0.75rem rgb(241, 237, 238))
}

.logo h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;

    color: #FFFFFF;
    position: absolute;
    right: -20%;
}

nav{
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    gap: 3.3vw;
    padding-right: 6.6vw;
}
nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.76);
}
nav a:hover{
    color: rgb(255, 255, 255);
}
nav .colorAzul a{
    color: var(--colorAzul);
}
nav .colorAzul a:hover{
    color: #be7131;
}
section{
    display: flex;
    padding-left: 3.5vw;
    gap: 5px;
}

.imgArticle .heroBackground {
    width: 42vw;
    height: 66vh;
    position: relative;
    right: 8vw;
}
.heroBackground img{
    width: 100%;
}

.imgArticle .heroImg {
    position: absolute;
    height: 42vh;
    width: 31vw;
    top: 10vh;
    right: 15vw;
}
.heroImg img{
    width: 100%;
}

.textArticle{
    color: white;
}

.text1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 49px;
    width: 457px;
    left: 91px;
    top: 448px;
    border-radius: nullpx;  
}
.text1 h2{
    color: var(--color-azul);
    width: 283.45px;
    height: 38.48px;
}
.text2 h3{
    line-height: 49px;
}
.text2 p{
    text-align: left;
    width: 54%;
    font: 1.4rem;
}

button{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: white;
    border: 4px solid rgba(255, 255, 255, 0.575);
    box-shadow: 0px 4px 6px rgb(214 202 202 / 25%);
    padding: 15px 42px;
    border-radius: 10px;
    background: linear-gradient(90deg, #bf5a08 0%, #be7131 100%);
    margin-top: 7vh;
}
button:hover{
    color: white;
    border: 4px solid white;
    transition: 0.5s;
    cursor: pointer;
}

.check p{
    font-family: Inter;
    font-size: 1.5rem;
    text-align: left;
}
.check .icons{
    display: flex;
    gap: 1vw;
    margin-left: 1vw;
}
.textArticle .check{
    display: flex;
    align-items: center;
}
.check{
    
    margin-top: 7vh;
}

.myServices{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.myServices h2{
    padding-top: 1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #bf5a08;
}
.myServices p{
    color: white;
}

.myServices .myServicesCards{
    display: flex;
    text-align: center;
    gap: 4vw;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
    margin-bottom: 12vh;
    cursor: pointer;
}
.card{
    width: 26vw;
    height: 60vh;
    left: 122px;
    top: 1061px;

    box-shadow: 0px 4px 20px rgba(236, 162, 93, 0.23);
    border-radius: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.card:hover{
    box-shadow: 0px 4px 20px #be7131;
}

.card h2{
    color: white;
    font-size: 1.3rem;
}

.card img{
    width: 100%;
    height: 100%;
    border-radius: 42px;
    object-fit: cover;
}

.buscadorConteiner{
    position: relative;
    display: flex;
    align-items: center;
}
.buscadorConteiner i{
    position: absolute;
    right: 10px;
}
.buscador{
    width: 25vw;
    padding: 10px;
    border: 4px solid rgba(255, 255, 255, 0.575);
    border-radius: 4px;
    cursor: text;
}
.buscador:hover{
    border: 4px solid white;
    transition: border-color 0.5s;
}

@media only screen and (max-width: 1022px)  {
    .imgArticle{
        display:none;
    }
}